  <div id="top_image">
    <div id= "side">
      <h2>
        Menu
      </h2>
      <ul>
        <li>
          <%= link_to "天候" %>
        </li>
        
        <li>
          <%= link_to "レンタルショップ" %>
        </li>
        
        <li>
          <%= link_to "ライブ映像" %>
        </li>
      </ul>
    </div>
  </div>
 